body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

#app{
    position: relative;
    min-height: 100%;
}

.content {
    padding-bottom: 90px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}